/output
/vendor/bin
/vendor/cilex
/vendor/container-interop
/vendor/doctrine
/vendor/erusev
/vendor/herrera-io
/vendor/jms
/vendor/justinrainbow
/vendor/kherge
/vendor/monolog
/vendor/nikic
/vendor/phpcollection
/vendor/phpdocumentor
/vendor/phpoption
/vendor/pimple
/vendor/psr
/vendor/seld
/vendor/symfony
/vendor/twig
/vendor/zendframework
/vendor/zetacomponents
